header {
}

.logo {
  background-image: url("../Images/house-home-in-jungle.jpg");
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: rgb(1, 93, 1);
  -webkit-text-stroke-width: 2px;
  font-size: 168px;
  font-family: 'Roboto Slab';
  word-spacing: 72px;
}
